html,
body {
  height: 100%;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font: 16px/1.3125 'Times New Roman', serif;
  word-wrap: break-word;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
figure,
blockquote,
p {
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
