html,
body {
  height: 100%;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  word-wrap: break-word;
  font: 16px/1.325 'Times New Roman', serif;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

p,
ul,
ol,
dl,
dd,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

figure {
  margin: auto;
  display: block;
}

