html,
body {
  height: 100%;
}

html {
  padding: 0;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  word-wrap: break-word;
  font: 16px/1.325 'Times New Roman', serif;
}

noscript {
  top: 0;
  left: 0;
  z-index: 1;
  color: #999;
  padding: 0 11px;
  font-size: 11px;
  line-height: 33px;
  position: absolute;
  font-family: arial, serif;
  text-transform: lowercase;
}

a {
  text-decoration: underline;
  background-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

p,
ul,
ol,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

figure {
  margin: auto;
  display: block;
  box-sizing: border-box;
}
